html,
body {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}

body {
    position: absolute;
    width: 100%;
    background-attachment: fixed !important;
    background: linear-gradient(#dc143c, #3b3b3b);
    color: #ffffff;
    font-family: Arial;
}

.feed {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 80%;
    display: flex;
    flex-flow: wrap;
    gap: 15px 15px;
    align-items: center;
    justify-content: center;
}

.post-body {
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    position: relative;
}
img.addpostbutton {
    width: 40px;
    position: absolute;
    right: 0;
    top: 75px;
}

.post-footer,
.profile-picture,
.profile-picture1,
.profile-name,
.post-picture,
.post-icon {
    position: absolute;
}

.post-header {
    width: 100%;
    height: 100px;
}

.post-footer {
    width: 100%;
    height: 100px;
    bottom: 0;
}

.post-header,
.profile-picture,
.profile-name {
    display: inline;
}

.profile-picture {
    width: 75px;
    height: 75px;
    object-fit: cover;
    clip-path: circle();
    top: 15px;
    left: 14px;
}

@media screen and (max-width: 1024px) {
    .profile-picture {
        width: 70px;
        height: 75px;
        object-fit: cover;
        -webkit-clip-path: circle();
        clip-path: circle();
        top: 12px;
        left: 10px;
    }
}
@media screen and (max-width: 500px) {
    .profile-picture {
        width: 45px;
        height: 75px;
        object-fit: cover;
        clip-path: circle();
        top: 70px;
        left: 14px;
    }
}
.profile-picture1 {
    width: 75px;
    height: 75px;
    object-fit: cover;
    clip-path: circle();
    top: 140px;
    left: 15px;
}
@media screen and (max-width: 1024px) {
    .profile-picture1 {
        width: 70px;
        height: 75px;
        object-fit: cover;
        -webkit-clip-path: circle();
        clip-path: circle();
        top: 50px;
        left: 10px;
    }
}
@media screen and (max-width: 500px) {
    .profile-picture1 {
        width: 45px;
        height: 75px;
        object-fit: cover;
        clip-path: circle();
        top: 0px;
        left: 14px;
    }
}

.profile-name {
    padding-top: 20px;
    padding-left: 103px;
}

.post-picture {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 15px;
    top: 100px;
    bottom: 100px;
    right: 0;
}

.post-favorite {
    width: 40px;
    position: absolute;
    right: 40px;
    top: 30px;
}

.art-view {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}
@media screen and (max-width: 900px) {
    .art-view {
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-top: 30px;
        align-items: center;
        justify-content: center;
    }
}
.art-body {
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 75%;
    height: 700px;
    position: relative;
}
@media screen and (max-width: 500px) {
    .art-body {
        border: 1px solid #ffffff;
        border-radius: 15px;
        width: 75%;
        height: 500px;
        position: relative;
        margin: 0;
    }
}

.art,
.art-header,
.art-profile,
/* .profile-picture, */
.art-text,
.art-info,
/* .comment-section, */
.comment-header {
    position: absolute;
}

.comment-section {
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 50%;
    height: 700px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .comment-section {
        order: 1px solid #ffffff;
        border-radius: 15px;
        width: 60%;
        height: 16vh;
        position: absolute;
        top: 810px;
    }
}

@media screen and (max-width: 500px) {
    .comment-section {
        border-radius: 15px;
        width: 60%;
        height: 18vh;
        position: absolute;
        top: 610px;
    }
}

.comment-header {
    display: flex;
}

.comment-list {
    display: flex;
    overflow-y: auto;
}

.post-comment {
    width: 40px;
}

.comment-list {
    width: 20%;
}

.art {
    max-width: 90%;
    max-height: 80%;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.art-header {
    width: inherit;
    height: 100px;
    display: grid;
}

.art-text {
    margin-left: 100px;
}

.art-info {
    width: 100%;
    height: 100px;
    bottom: 0;
    border-top: 1px solid;
}

.myfav-body {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    position: relative;
}

.myfav-picture,
.myfav-post {
    position: absolute;
}

.myfav-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.myfav-post {
    width: 25px;
    height: 25px;
    padding: 10px;
    bottom: 0;
    right: 0;
    display: none;
}

.user-page {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 10%;
}

.user-info {
    width: 300px;
    height: 470px;
    position: relative;
    background-color: #3b3b3b;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    /* bottom: 58vh; */
}

.user-input {
    justify-content: center;
    align-items: center;
    height: inherit;
    padding-top: 15%;
}

input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type='submit'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 8px;
    background-color: #dc143c;
}
input[type='email'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type='password'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
input[value] {
    color: #000;
}

.alert {
    text-align: center;
}

.myprofile-picture {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 120px;
}

.new-post {
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    position: relative;
}

.newpost-icon {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myprofile {
    position: relative;
    padding-bottom: 300px;
}

.myprofile-picture,
.myprofile-name {
    position: absolute;
}

.myprofile-name {
    margin-left: 250px;
    margin-top: 75px;
}

.myart-picture {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 30px;
}

.topnav {
    overflow: hidden;
    background-color: #3b3b3b;
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.topnav input[type='text'] {
    font-size: 17px;
    border: none;
    width: 500px;
    border-radius: 50px;
}

.navhome,
.navfav,
.navuser,
.navbaroption {
    width: 25px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbaroption {
    display: none;
}

.topnav a {
    float: right;
    color: #fdfafa;
}

.navoption {
    padding-top: 20px;
}
.f-count {
    position: absolute;
    right: 15px;
    font-size: 33px;
}

.c-count {
    font-size: 15px;
}

@media screen and (max-width: 750px) {
    .navhome,
    .navfav,
    .navuser,
    .search-container {
        display: none;
    }

    .navbaroption {
        float: right;
        display: block;
    }
}
input.comment-input {
    position: relative;
    left: 16vh;
    top: 150px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 20vh;
    padding: 12px;
    color: #fdfafa;
}
@media screen and (max-width: 1024px) {
    input.comment-input {
        position: relative;
        left: 7vh;
        top: 70px;
        border: 0;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        color: #fdfafa;
        padding: 11px 20px;
    }
}
@media screen and (max-width: 1024px) {
    input.comment-input {
        left: 12vh;
        top: 65px;
    }
}
@media screen and (max-width: 500px) {
    input.comment-input {
        position: relative;
        left: 10vh;
        top: 10px;
        border: 0;
        background-color: rgba(0, 0, 0, 0.3);
        width: 20vh;
        padding: 10px;
        color: #fdfafa;
    }
}

.commentbox {
    box-shadow: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    margin: 2% 40% 0% 2%;
    height: 85vh;
}
img.commentimg {
    width: 90%;
    margin: 25% 4%;
}
img.comment-userprofile {
    width: 54px;
    border-radius: 30px;
    height: 60px;
    margin: 6px 10px 0px 60px;
}
.comment-name {
    float: right;
    /* margin: 0% 32%; */
    margin-right: 55%;
}

img.userprofile {
    width: 68px;
    width: 75px;
    height: 75px;
    object-fit: cover;
    clip-path: circle();
    top: 13px;
    left: 14px;
    position: absolute;
}
img.comment-sent {
    width: 35px;
    position: absolute;
    top: 160px;
    left: 275px;
    background-color: #3e3e3e00;
}
@media screen and (max-width: 1024px) {
    img.comment-sent {
        top: 80px;
        left: 240px;
    }
}
@media screen and (max-width: 900px) {
    img.comment-sent {
        top: 74px;
        left: 241px;
    }
}
@media screen and (max-width: 500px) {
    img.comment-sent {
        top: 92px;
        left: 240px;
    }
}
img.commenticon {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 40px;
}
h3 {
    color: #fdfafa;
}
